html {
  font-size: 10px;
}
main {
  background-image: url(../img/bg1.jpg);
  padding: 3rem 0;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  border-radius: 8px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: none;
}
section {
  padding: 10rem 0;
}
.main-content {
  margin-top: 8rem;
}
.main-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  line-height: 1.45;
}
.main-content span {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main-content span strong {
  font-size: 3rem;
}
.main-content .trigger {
  display: block;
  margin: 4rem 0;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.main-form {
  padding: 4rem 5rem;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 1.3rem;
  border: 1px solid #dddddd;
}
.main-form label {
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  height: 5rem;
  width: 100%;
  font-size: 1.3rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 1.7rem;
  height: 3rem;
  line-height: 3rem;
}
.header {
  height: 3rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 3rem;
}
.wrap-block {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.box {
  width: 200px;
  height: 200px;
  background-color: #ff0000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.box:hover {
  background: #000;
}
